<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dblanguage -->
      <package
            uri="http://dblanguage"
            class="dblanguagepart.DblanguagepartPackage"/>
   </extension>

</plugin>
